@tailwind base;
@tailwind components;
@tailwind utilities;

html *{
    font-size: 100%;
    font-family: "Segoe UI Variable", "Trebuchet MS", Arial, Helvetica, sans-serif, "Times New Roman";
}
.tile {
    padding: 1.25rem;
    border-radius: 0.75rem;
    border-width: 1px;
    border-color:rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media screen and (min-width: 950px) {
    .tile {
        padding: 3rem;
        
    }
}

/* Globals */
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.3rem;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Navbar */
.nav-logo {
    border-radius: 50%;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/logo-trans.png");
    background-size: 90%;
    filter: brightness(1.75);
    transition: all 500ms;
}
.nav-logo:hover {
    background-image: url("/logo.png");
    background-size: 100%;
}
.nav-ball {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/bball-trans.png");
    background-size: 90%;
    transition: all 500ms;
}
.nav-ball:hover {
    background-image: url("/bball.png");
    background-size: 100%;
}
.nav-button {
    padding: .5rem;
    border-width: 0rem;
    border-bottom-width: .125rem;
    border-top-width:.125rem;
    border-bottom-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    transition: all 150ms;
}
.nav-button:hover {
    border-bottom-color: #fbc02d;
}

/* Resume */
.logo-linked {
    background-image: url("/logo-linked.png");
    background-size: 85%;
    transition: all 500ms;
    filter: drop-shadow(0 0 .9rem #0072b1);
}
.logo-linked:hover {
    background-image: url("/logo-linked-fill.png");
    background-size: 100%;
}
.logo-github {
    background-image: url("/logo-github.png");
    background-size: 85%;
    transition: all 500ms;
    filter: drop-shadow(0 0 0.65rem #0072b1);
}
.logo-github:hover {
    background-image: url("/logo-github-fill.png");
    background-size: 100%;
}



/* Decks */
.parquet {
    background-image: url("/fullstack/parquet.jpg")
}
.card-size {
    width: 18rem;
    height: 26rem;
}
.preview {
    filter: blur(2px);
}
@keyframes inAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
        
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}